* {
    padding: 0;
    margin: 0;

}
h1{
    color: white;
    text-align: center;
    margin: 20px;
}
body{
    display: flex;
    flex-direction: column;
    background: #17202A;
}

section {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;       
    margin: 30px auto;
    border-radius: 10px;
    background: #EBEDEF;
}

.contenedor_label {
    display: flex;    
    flex-direction: column;
    align-items: left;
    margin: 20px auto;    
    width: 60%;
}

label{
    width: 60%;
}